@font-face {
    font-family: "Norse Bold";
    src: url("fonts/Norse-Bold.otf") format("truetype");
    font-weight: bold;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #f4f7f6;
    /* Heller Hintergrund */
}

.leftside-container {
    position: relative;
    width: 50%;
    height: 100%;
}

#background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    gap: 10px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#odin-logo {
    width: 100px;
}

.credit {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
}

.rightside-container {
    width: 50%;
    padding: 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h2 {
    font-size: 24px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.signin-container {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    font-size: 30px;
    color: #333;
}

form {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

input {
    outline: none;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

label {
    font-size: 14px;
    color: #333;
}

button {
    background-color: #596d48;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}

p {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

a {
    color: #007acc;
    text-decoration: none;
}

button:hover {
    background-color: #4a5d3a;
}

button:active {
    background-color: #3e8e41;
}

input:focus {
    border-color: #007acc;
}

@media (max-width: 960px) {
    body {
        flex-direction: column;
    }

    .leftside-container,
    .rightside-container {
        width: 100%;
        height: 50%;
    }

    form {
        flex-direction: column;
        gap: 20px;
    }

    form div {
        width: 100%;
    }
}