#odin-image {
    background-color: black;
    width: 150px;
    height: 150px;
    opacity: 0.1;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/Norse-Bold.otf') format('truetype');
    /* Pfad zur Schriftart */
    font-weight: normal;
    font-size: normal;
}

span {
    font-family: 'Norse Bold', sans-serif;
}